@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 60px;
}

h1 {
  margin: 0;
}

header img {
  height: 36px;
  margin-left: auto;
}


#slot-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 80%;
  border: 2px solid black;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.symbol {
  font-size: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.symbol.displayed {
  opacity: 1;
  display: flex;
}

#spin-button {
  width: 90px;
  padding: 10px;
  font-size: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}